//Main navigation component
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 24px auto;
  width: 87.2%
}
.nav__closeIcon {
  position:absolute;
  top: 33.95px;
  right: 26.45px;
}
.nav__container {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(40px);
  height: 100vh;
  padding: 118px 0 0 32px;
  position: absolute;
  top: 0;
  right: -200px;
}
.nav__container--off {
  display: none;
}
.nav__container--on {
  display: block;
}
.nav__items {
  color: $white;
  list-style: none;
  text-transform: uppercase;
}
.nav__link {
  color: $white;
  display: inline-block;
  font-family: $text-font;
  font-size: 16px;
  letter-spacing: 2.7px;
  margin-bottom: 32px;
  text-decoration: none;
  width: 100%;
}
.nav__link--active {
  border-right-style: solid;;
  border-right-color: $white;
}
.nav__link:hover {
  border-right-style: solid;
  border-right-color: #979797;
  cursor: pointer;
}
.nav__link span {
  font-weight: bold;
  margin-right: 14px;
}