//Background for the homepage
.destination-container {
  background: url(../../../assets/destination/background-destination-mobile.jpg) 0% 0%/cover no-repeat;
  min-height: 100vh;
  padding: 0.05px; //Used to prevent margin collapse.
}
// MOBILE LAYOUTS
// Mobile Navigation Layout


//Mobile Main Content Layout

