//Technology Page Components
//Mobile Components
//Mobile - Header Component
.tech__header {
  margin: 0 auto 32px;
  text-align: center;
}
.tech__header-title {
  color: $white;
  font-family: $text-font;
  font-size: calc(8px + 2.1vw);
  font-weight: 400;
  letter-spacing: 2.7px;
  margin-bottom: 32px;
  text-transform: uppercase;
}
.tech__header-title span {
  color: #979797;
  margin-right: 18px;
}
.tech__img {
  min-height: 170px;
  width: 100%;
}
//Mobile - Nav component for technology 
.tech__nav {
  margin: 34px auto;
  text-align: center;
}
.tech__nav-item {
  border-style: solid;
  border-color: #979797;
  border-radius: 50%;
  border-width: 1px;
  color: $white;
  margin-right: 16px;
  padding: 11px 16px;
  text-decoration: none;
}
.tech__nav-item:nth-child(3) {
  margin-right: 0;
}
.tech__nav-item:hover {
  background-color: $white;
  color: $purple-black;
  cursor: pointer;
}
.tech__nav-item--active {
  background-color: $white;
  color: $purple-black;
  cursor: default;
  pointer-events: none;
}
//Mobile - Tech Info Component
.tech__info {
  margin: 0 auto;
  text-align: center;
  width: 87.2%;
}
.tech__title {
  font-family: $text-font;
  font-size: 14px;
  letter-spacing: 2.36px;
  margin-bottom: 9px;
}
.tech__heading {
  color: $white;
  font-family: $heading-font;
  font-size: 24px;
  margin-bottom: 16px;
  text-transform: uppercase;
}
.tech__text {
 font-family: $text-font-2;
 font-size: 15px;
 line-height: 1.666666667;
}