// MOBILE LAYOUTS
.technology-container {
  background: url(../../../assets/technology/background-technology-mobile.jpg) 0% 0%/cover no-repeat;
  min-height: 100vh;
  padding: 0.05px; //Used to prevent margin collapse.
}